{% extends "layouts/base-fullscreen.html" %} {% block title %} Token Transfer {%
endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="row">
  <div class="card border-0 shadow components-section">
    <div class="card-body">
      <div class="row mb-4">
        <div class="mb-4">
          <label for="tokenValidate">토큰 배분 지갑 개인키</label>
          <input type="text" class="form-control" id="tokenValidate" required />
        </div>
      </div>
      <div class="row mb-4">
        <div class="mb-3">
          <label for="targetAddr">대상 지갑 주소</label>
          <input
            type="text"
            id="targetAddr"
            class="form-control"
            placeholder="{{addr}}"
            disabled
          />
        </div>
      </div>

      <div class="row mb-4">
        <div class="mb-4">
          <label for="amountValidate">수량</label>
          <input
            type="text"
            class="form-control"
            id="amountValidate"
            required
          />
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded"
               id="sendStateTable">
            <tr>
                <th class="border-0 rounded-start">#</th>
                <th class="border-0">Name</th>
                <th class="border-0">Phone Number</th>
                <th class="border-0">TxHash</th>
                <th class="border-0"># of Token</th>
                <th class="border-0 rounded-end">Status</th>
            </tr>
            <tbody>
                <!-- Item -->
            </tbody>
        </table>
    </div>

      <div class="row mb-4">
        <div class="mb-4">
          <button
            class="btn btn-primary"
            type="button"
            onclick="transferToken(document.getElementById('tokenValidate').value, '{{addr}}', document.getElementById('amountValidate').value, '{{name}}', '{{phoneNum}}')"
          >
            보내기
          </button>
          <button
          class="btn btn-primary"
          type="button"
          onclick="window.close()"
        >
          닫기
        </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

<script>
  var API_BASE_URL = "{{api_base_url}}";
  var socket = io.connect(API_BASE_URL, {
    path: "/wallet/socket.io",
  transports: ["websocket"],
  });

  socket.on("TxStateChanged", async function (data) {
    console.log(data);
    let addr = data.split(":")[2];
    let txHash = data.split(":")[1];
    let status = data.split(":")[0];
    let res = data.split(":")[3];

    let trEl = document.getElementById(addr);
    let cells = trEl.cells;

    cells[3].innerText = txHash;
    cells[5].innerText = status;

    if (status === 'Done') {
      await axios.get(API_BASE_URL + "/users/updatebalance",
          { params : { addr: addr }
        })
        .catch((error) => {
          console.log(error);
        });
    }
  });

  function transferToken(fromAddr, toAddr, amount, name, phoneNum) {
    if (fromAddr === "") {
      alert("주소를 입력하세요.");
      return;
    }

    if (amount <= 0) {
      alert("올바른 갯수를 입력하세요.");
      return;
    }

    genInfoRow(name, phoneNum, toAddr, "-", amount, "Created");

    let res = axios.post(API_BASE_URL + "/wallet/transferAdmin", {
      pk: fromAddr,
      toAddr: toAddr,
      amount: parseFloat(amount),
      name: name,
      phoneNum: phoneNum,
    });
  }

  function genInfoRow(name, phoneNum, addr, txHash, amt, status) {
    let tableEl = document.getElementById("sendStateTable");
    let rowIdx = tableEl.rows.length;
    let tr = tableEl.insertRow(rowIdx);
    tr.id = addr;

    let tdGen = (tr, value) => {
      let tdEl = tr.insertCell(-1);
      tdEl.innerText = value;
      return;
    };

    tdGen(tr, rowIdx);
    tdGen(tr, name);
    tdGen(tr, phoneNum);
    tdGen(tr, txHash);
    tdGen(tr, amt);
    tdGen(tr, status);
  }
</script>
{% endblock javascripts %}
